Source: gigedit
Section: sound
Priority: optional
Maintainer: LinuxSampler Developers <linuxsampler-devel@lists.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), pkg-config, intltool,
  libgtkmm-2.4-dev | libgtkmm-3.0-dev,
  libsndfile1-dev, xsltproc, docbook-xsl, libgig-dev (>= 4.0.0)
Standards-Version: 3.6.1

Package: gigedit
Section: sound
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: instrument editor for GigaStudio/Gigasampler (.gig) files
 gigedit is an instrument editor for GigaStudio/Gigasampler (.gig) files. The
 GUI is based on the GTK+ (gtkmm) toolkit. Even though it is created as a
 subproject of the LinuxSampler project, it is currently a completely
 independent stand-alone editor, but may also be used in combination with
 LinuxSampler (in so called "live-mode") to immediately hear any sound
 changes "live" while editing GigaStudio/Gigasampler instruments with gigedit.
 .
 gigedit covers all GigaStudio/Gigasampler format features up to and including
 GigaStudio 4. It also supports custom extensions of the format which were
 never provided by GigaStudio/Gigasampler, and which are only supported by
 gigedit and LinuxSampler, for example support for so called "Real-Time
 Instrument Scripts".
 .
 For more information visit
 http://www.linuxsampler.org
