Source: libgig
Section: devel
Priority: optional
Maintainer: Matt Flax <flatmax@pgb.unsw.edu.au>
Build-Depends: debhelper (>= 4.0.0), pkg-config, libsndfile1-dev | libaudiofile-dev, doxygen
Standards-Version: 3.6.1

Package: libgig-dev
Section: libdevel
Architecture: any
Depends: libgig (= ${Source-Version})
Description: library for loading Gigasampler files and DLS Level 1/2 files
 libgig is a C++ library for loading Gigasampler files and
 DLS (Downloadable Sounds) Level 1/2 files.
 .
 For more information visit
 http://stud.fh-heilbronn.de/~cschoene/projects/libgig/
 .
 This package contains the header files needed for
 development with libgig. You will need this only if you
 intend to compile programs that use this library.

Package: libgig
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: library for loading Gigasampler files and DLS Level 1/2 files
 libgig is a C++ library for loading Gigasampler files and
 DLS (Downloadable Sounds) Level 1/2 files.
 .
 For more information visit
 http://stud.fh-heilbronn.de/~cschoene/projects/libgig/

Package: gigtools
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libaudiofile0 (>= 0.2.3)
Description: command line tools for Gigasampler and DLS Level 1/2 files
 This package contains the following command line tools:
 .
 gigdump:
   Prints out the content of a .gig file.
 gigextract:
   Extracts samples from a .gig file.
 dlsdump:
   Prints out the content of a DLS file.
 rifftree:
   Prints out the RIFF tree of an arbitrary RIFF file.

