body    {
	background: rgb(220,220,220);
        }

#mainwindow {
	border: 1px solid black;
	background: white;
	overflow: auto;
	width: 100%;
	padding: 0;
	}

#contents {
	margin: 0;
	}


h2 	{
	font-size: 11pt;
	font-family: sans-serif,Arial,Helvetica;
	font-style: normal;
	font-weight: bold;
	border: none;
	background: rgb(240,240,240);
	margin: 0.8em 0.4em 0.8em 0.8em;
	padding: 0.4em 0.4em 0.4em 0.4em;
	}

h3 	{
	font-size: 11pt;
	font-family: sans-serif,Arial,Helvetica;
	font-style: normal;
	font-weight: bold;
	border: none;
	background: rgb(240,240,240);
	margin: 0.8em 0.4em 0.8em 0.8em;
	padding: 0.4em 0.4em 0.4em 0.4em;
	}

.hidden
{
	display: none;
}

img {
	border: none;
	display: block;
	}

table th {
	font-size: 11pt;
	font-family: sans-serif,Arial,Helvetica;
	font-style: normal;
	font-weight: bold;
	background: rgb(240,240,240);
	}

.code {
	overflow: auto;
	font-size: 8pt;
	/*max-width: 300;*/
	background-color: #F6F6F6;
	border: 2px outset GhostWhite;
	margin: 0em 3em 0em 3.2em;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	}

.figure {
	overflow: auto;
	font-size: 8pt;
	margin: 0em 3em 0em 3.2em;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

table.default {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 2em;
	}

table.decorated {
	border: none;
	background-color: transparent;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	padding: 0em 0em 0em 0em;
	margin: 0em 0em 0em 2em;
}

td.decorated {
	border: none;
	background-color: #F2F2F4;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	padding: 0.6em;
}

td.decorated_header {
	border: none;
	background-color: #E0E0FF;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	padding: 0.6em;
}

td.bordered {
	text-align: center;
	padding: 0.6em;
	border: 2px outset White;
	background-color: #F0F0F0;
	}

td.default {
	padding: 0.6em;
	}

.formatmatrix {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	}

.formatmatrix th{
	border: 1px solid rgb(200,200,200);
	}

.formatmatrix td {
	padding: 0.6em;
	}

.formatmatrix tr.white td {
	border: 1px solid rgb(240, 240, 240);
	}

.formatmatrix tr.grey td {
	background: rgb(230, 230, 230);
	border: none;
	}

.formatmatrix tr.green td {
	background: rgb(180, 255, 180);
	border: none;
	}

.formatmatrix tr.red td {
	background: rgb(255, 180, 180);
	border: none;
	}

.linkstable {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	}

.linkstable a {
	text-decoration: none;
	}

.linkstable a:hover {
	text-decoration: underline;
	}

p {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	padding: 1em 2.2em;
}

p.default  {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	padding: 1em 2.2em;
	}

p.caution  {
	border: solid 1px;
	background: rgb(255, 180, 180);
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	margin: 1.6em 1.2em 1.6em 1.2em;
	padding: 0.6em 0.6em 0.6em 0.6em;
}

table.pure {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	font-style: normal;
	font-weight: normal;
	}

div.groupbox {
	background: rgb(240, 240, 240);
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	margin: 1em 3em 1em 3em;
	padding: 1em 1em 1em 2.2em;
	}

p.groupbox {
	border: none;
	background: rgb(240, 240, 240);
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	margin: 1em 3em 1em 3em;
	padding: 1em 1em 1em 2.2em;
	}

span.default  {
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
	}

ul	{
	border: none;
	background: rgb(240, 240, 240);
	list-style-image: url("gfx/okay.png");
	margin: 1em 3em 1em 3em;
	padding: 1em 1em 1em 2.2em;
	}

ol.default	{
	/* list-style-type:circle; */
	border: none;
	background: rgb(240, 240, 240);
	margin: 1em 3em 1em 3em;
	padding: 1em 1em 1em 2.2em;
	}

li	{
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	}

li.ok	{
	list-style-image: url("gfx/okay_green.png");
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	}

li.false	{
	list-style-image: url("gfx/x.png");
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	}

li.partly	{
	list-style-image: url("gfx/yellow_light.png");
	padding: 0.2em 0.2em 0.2em 0.2em;
	font-size: 10pt;
	font-family: sans-serif,Arial,Helvetica;
	text-align: justify;
	}


/* info code from SantaKlauss at http://www.madaboutstyle.com/tooltip2.html */
a.info {
	/* This is the key. */
	position: relative;
	z-index: 24;
	text-decoration: none;
}
a.info:hover {
	z-index: 25;
	color: #FFF; background-color: #900;
}
a.info span { display: none; }
a.info:hover span.info {
	/* The span will display just on :hover state. */
	display: block;
	position: absolute;
	font-size: smaller;
	top: 2em; left: -5em; width: 15em;
	padding: 2px; border: 1px solid #333;
	color: #900; background-color: #DDF;
	text-align: left;
}



/* News section */

div.news {
    border: 1px dotted;
    margin: 0.8em 2em;
    padding: 0.4em 0.4em;
    font-size: 10pt;
    font-family: sans-serif,Arial,Helvetica;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
}

ul.news {
    background: transparent;
    list-style-type: disc;
    margin: 0em 0em 0em 0em;
    padding: 0em 0em 0em 1.5em;
}

li.news {
    font-size: 10pt;
    font-family: sans-serif,Arial,Helvetica;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
}

span.news_date {
    font-weight: bold;
}

span.news_footer {
    margin: 0em 2em;
    font-size: 10pt;
    font-family: sans-serif,Arial,Helvetica;
    text-align: left;
    font-style: normal;
    font-weight: normal;
}



/* CVS Commits section */

table.cvs {
    font-size: 10pt;
    font-family: sans-serif,Arial,Helvetica;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
    margin: 0em 2em;
}

table.cvs_project {
    border: 1px dotted;
}

#cvs_content {
    height: 300px;
    overflow: hidden;
    font-size: 10pt;
    font-family: sans-serif,Arial,Helvetica;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
}

span.cvs_footer {
    font-size: 10pt;
    font-family: sans-serif,Arial,Helvetica;
    text-align: justify;
    font-style: normal;
    font-weight: normal;
}
